<h3>Employees</h3>

<!-- <div>
  <label>
    <input [(ngModel)]="employee.name" placeholder="name" />
  </label>
</div> -->

<ul class="employees">
	<!-- <li *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee" (click)="onSelect(employee)"> -->
	<li *ngFor="let employee of employees">
		<a routerLink="/detail/{{employee.id}}">
			<span class="badge">{{employee.id}}</span> {{employee.name}}
		</a>
    <span class="badge_delete"><button type="button" (click)="deleteEmployee(employee.id)" alt="Delete">X</button></span>
	</li>
</ul>

<!-- <app-employee-detail [employee]="selectedEmployee"></app-employee-detail> -->